/* I reset the padding, border and margin to zero in order to
make all the website more flexible when modifying it */

* {
   padding: 0;
   border: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   text-decoration: none;
   list-style: none;
   color: inherit;
}

@media only screen and (orientation:portrait) {
   * {
      font-size: 20px;
   }
}

@media only screen and (max-width:950px) {
   * {
      font-size: 12px;
   }
}

/* The header section holds a navigation tab which
has all the links within the website */

header {
   position: fixed;
   width: 100%;
   background-color: hsla(0, 0%, 15%, 0.95);
   color: hsla(360, 0%, 100%, 1);
   display: grid;
   grid-template-columns: 1fr 10fr 1fr;
   align-items: center;
   z-index: 10;
}

.solidBar {
   visibility: hidden;
}

.menuBars {
   text-align: center;
   height: 48px;
   width: 70px;
}

.barLines {
   height: 3px;
   width: 70px;
   background-color: hsla(0, 0%, 100%, 1);
   border-radius: 1px;
}

.firstLine {
   position: relative;
   top: 3px;
}

.secondLine {
   position: relative;
   top: 18px;
}

.thirdLine {
   position: relative;
   top: 33px;
}

nav {
   grid-column: 2 / span 1;
}

nav ul {
   display: flex;
   justify-content: flex-end;
}

nav ul li {
   padding: .5rem 0 .5rem 2rem;
   margin: .5rem 0;
}

@media only screen and (max-width:950px), (orientation:portrait) {

   header.allScreenMenu {
      height: 100vh;
      background-color: hsla(0, 0%, 15%, 1);
      grid-auto-rows: 110px;
   }

   .solidBar {
      position: fixed;
      display: grid;
      width: 100%;
      height: 120px;
      background-color: hsla(0, 0%, 15%, .95);
      visibility: visible;
      z-index: 20;
      grid-template-columns: 1fr 10fr 1fr;
   }

   .bottomLine {
      border-bottom: 1px solid hsla(0, 0%, 55%, 1);
      opacity: 1;
   }

   .menuBars {
      grid-column: 2 / span 1;
      align-self: center;
   }

   nav {
      display: none;
   }

   nav.navVisible {
      display: flex;
      align-self: start;
      grid-area: 2 / 1 / span 1 / span 3;
   }

   nav ul {
      flex-direction: column;
   }

   nav ul li {
      position: relative;
      width: calc(100vw - 200px);
      left: 100px;
      border-bottom: 1px solid hsla(360, 0%, 55%, 1);
      margin: 0;
      padding: 50px 0;
   }

   .navigationLinks {
      font-size: 2.5rem;
   }

   /* This part is the animation when closing and opening the
   menu icon to display the navigation menu */

   .firstLineOpen {
      position: relative;
      animation-name: upperLine;
      animation-duration: .35s;
      animation-fill-mode: forwards;
   }

   @keyframes upperLine {
      0% {top: 3px;}
      50% {top: 22px; transform: rotate(0deg);}
      100% {top: 22px; transform: rotate(45deg);}
   }

   .secondLineOpen {
      position: relative;
      animation-name: middleLine;
      animation-duration: .35s;
      animation-fill-mode: forwards;
   }

   @keyframes middleLine {
      0% {transform: rotate(0deg);}
      50% {transform: rotate(0deg);}
      100% {transform: rotate(45deg);}
   }

   .thirdLineOpen {
      position: relative;
      animation-name: lowerLine;
      animation-duration: .35s;
      animation-fill-mode: forwards;
   }

   @keyframes lowerLine {
      0% {top: 33px;}
      45% {top: 14px;}
      50% {top: 14px; transform: rotate(0deg);}
      100% {top: 14px; transform: rotate(-45deg);}
   }

   .firstLineClose {
      position: relative;
      animation-name: upperLineBack;
      animation-duration: .35s;
      animation-fill-mode: forwards;
   }

   @keyframes upperLineBack {
      0% {top: 22px; transform: rotate(45deg);}
      50% {top: 22px; transform: rotate(0deg);}
      100% {top: 3px;}
   }

   .secondLineClose {
      position: relative;
      animation-name: middleLineBack;
      animation-duration: .35s;
      animation-fill-mode: forwards;
   }

   @keyframes middleLineBack {
      0% {transform: rotate(45deg);}
      50% {transform: rotate(0deg);}
      100% {transform: rotate(0deg);}
   }

   .thirdLineClose {
      position: relative;
      animation-name: lowerLineBack;
      animation-duration: .35s;
      animation-fill-mode: forwards;
   }

   @keyframes lowerLineBack {
      0% {top: 14px; transform: rotate(-45deg);}
      50% {top: 14px; transform: rotate(0deg);}
      100% {top: 33px;}
   }

   .slideDown {
      animation-name: slideDown;
      animation-duration: .35s;
   }

   @keyframes slideDown {
      0% {top:-2000px;}
      100% {top: 0px;}
   }

   .slideUp {
      animation-name: slideUp;
      animation-duration: .35s;
      animation-fill-mode: forwards;
   }

   @keyframes slideUp {
      0% {top:0px;}
      100% {top:-2000px;}
   }
}

/* This section is the style which will be used on
the "homeSection" */

section#homeSection {
   background-color: hsla(0, 85%, 40%, 1);
   color: hsla(0, 100%, 100%, 1);
   width: 100%;
   min-width: 300px;
   height: 100vh;
   display: grid;
   grid-template: repeat(2, 0.5fr) 3fr 1fr / 2fr 8fr 2fr;
   align-items: center;
}

div.introMessage {
   grid-area: 3 / 2 / span 1 / span 1;
}

h1.myName {
   font-weight: 700;
   font-size: 4rem;
   margin: 0.25em 0;
}

h2#greeting {
   font-weight: 400;
   font-size: 2.5rem;
}

p.message {
   font-weight: 400;
   font-size: 1.5rem;
}

p strong {
   font-size: 1.5rem;
}

@media only screen and (max-width:950px), (orientation:portrait) {
   section#homeSection {
      grid-template: repeat(2, 0.5fr) 3fr 1fr / 1fr 10fr 1fr;
   }
}

/* This section is the style which will be used on
the "aboutSection" */

section#aboutSection {
   background-color: hsla(180, 50%, 50%, 1);
   color: hsla(360, 100%, 100%, 1);
   width: 100%;
   height: calc(100vh + 50px);
   display: grid;
   grid-template: repeat(2, 0.5fr) 3fr 1fr / 2fr 8fr 2fr;
   align-items: center;
}

/* This section is the style which will be used on
the "skillsSection" */

section#skillsSection {
   background-color: hsla(270, 85%, 40%, 1);
   color: hsla(360, 100%, 100%, 1);
   width: 100%;
   height: calc(100vh + 50px);
   display: grid;
   grid-template: repeat(2, 0.5fr) 3fr 1fr / 2fr 8fr 2fr;
   align-items: center;
}

.fab, .fas, .far {
   font-size: 3rem;
   color: hsla(0, 0%, 100%, 1);
}

/* This section is the style which will be used on
the "worksSection" */

section#worksSection {
   background-color: hsla(200, 50%, 50%, 1);
   color: hsla(360, 100%, 100%, 1);
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template: repeat(2, 0.5fr) 3fr 1fr / 2fr 8fr 2fr;
   align-items: center;
}

section#contactSection {
   background-color: hsla(60, 50%, 50%, 1);
   color: hsla(360, 100%, 100%, 1);
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template: repeat(2, 0.5fr) 3fr 1fr / 2fr 8fr 2fr;
   align-items: center;
}

/* The footer section holds the copyright text which
is located at the bottom of the website */

footer {
   width: 100%;
   background-color: hsla(360, 0%, 95%, 1);
   display: grid;
   grid-template-columns: 2fr 8fr 2fr;
}

footer p {
   font-weight: 400;
   font-size: .75rem;
   color: hsla(360, 0%, 55%, 1);
   margin: 1.5rem 0;
   padding-top: 1rem;
   border-top: 1px solid hsla(360, 0%, 55%, 1);
}

.copyright {
   grid-column: 2 / span 1;
}

.location {
   float: right;
   font-weight: 400;
   font-size: .75rem;
}
